    <section id="mid">
      <h4>
        <span id="greeting">Hello, {{username}}!</span>
        <span id="date">Tues 4/26/22</span> - Day <span id="day-number"></span>
      </h4>
      <button id="log-out-btn">Log-out</button>
    </section>
    <div class="main-container">

        <section id="daily-queue-section" class="mod mhide">
          <h2>Daily Queue</h2>
          <section class="module-content"></section>
        </section>
        <section id="to-dos-section" class="mod">
          <h2>To Dos</h2>
          <section class="module-content to-dos-content">
            <form action="" id="add-to-do-form">
            <input id="new-to-do" type="text"/>
            <input type="submit">
            </form>
            {{#each toDos}}
              {{#unless this.isComplete}}
              <div class="to-do-wrapper">
                <button data-to-do-id="{{this.id}}" data-is-complete="{{this.isComplete}}" class="to-do-btn">
                </button>
              <div  data-to-do-id="{{this.id}}" data-is-complete="{{this.isComplete}}" class="to-do" >
                {{this.name}}
              </div>  
              </div>
                {{/unless}}
            {{/each}}
          </section>
        </section>
        <section id="habit-section" class="mod mhide">
          <h2>Today's Habits</h2>
          <section class="module-content"></section>
        </section>
          <section id="analysis-section" class="mod mhide">
          <h2>Analysis</h2>
          <section class="module-content"></section>
        </section>
      </div>
  <script src="./scripts/home.js"></script>
    <script src="./scripts/todo.js"></script>